.date-picker-display {
    cursor: pointer;
}

.air-datepicker {
    --adp-font-family: inherit;
    --adp-border-radius: 0.75rem;
    --adp-border-color: rgb(229 231 235);
    --adp-accent-color: rgb(59 130 246);
    --adp-background-color: #fff;
    --adp-color: rgb(31 41 55);
    --adp-color-secondary: rgb(107 114 128);
    --adp-btn-color: rgb(59 130 246);
    --adp-btn-background-color-hover: rgb(239 246 255);
    z-index: 60;
}

.dark .air-datepicker {
    --adp-border-color: rgb(55 65 81);
    --adp-background-color: rgb(31 41 55);
    --adp-color: rgb(243 244 246);
    --adp-color-secondary: rgb(156 163 175);
    --adp-btn-background-color-hover: rgb(55 65 81);
}
